.panel {
    position: fixed;
    width: 100%;
    font-size: 22px;
    z-index: 100;
}

.sections {
    display: flex;
    padding: 1% 1.5%;
}

.left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 33.33%;
}

.center {
    display: flex;
    width: 33.33%;
    justify-content: center;
}

.right {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
}

.anchor-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.anchor-container a {
    padding: 4px 10px 5px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.anchor-container a:hover {
    color: #8d8d8d;
}