.panel {
    position: fixed;
    width: 100%;
    font-size: 22px;
    z-index: 10000;
    background-color: #f5f5f5;
    box-shadow: 10px 5px 5px whitesmoke;
    max-height: 100px;
}

.sections {
    display: flex;
    padding: 1% 1.5%;
}

.section-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 33.33%;
}

.section-center {
    display: flex;
    width: 33.33%;
    justify-content: center;
}

.section-right {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.anchor-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.anchor-container a {
    padding: 4px 10px 5px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.anchor-container a:hover {
    color: #8d8d8d;
}